body {
  margin: 0;
  background-color: #eeeaf5;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
